<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <% include ../commontags/metatags %>
    <title>健康档案</title>
    <link rel="stylesheet" href="<%=_src('/css/extractReport/extractReport.min.css')%>">
    <link rel="stylesheet" href="<%=_src('/css/prescribing/prescribing.min.css')%>">
    <link rel="stylesheet" href="<%=_src('/css/healthRecords/healthRecords.min.css')%>">
</head>
<body>
<div class="topmenu clearfix">
    <ul id="menu">
        <li class="current"><a href="javascript:void(0)" onclick="joinURL(0)">就诊记录</a></li>
        <li><a href="javascript:void(0)" onclick="joinURL(1)">查验报告</a></li>
        <li><a href="javascript:void(0)" onclick="joinURL(2)">电子处方</a></li>
        <li><a href="javascript:void(0)" onclick="joinURL(3)">住院史</a></li>
    </ul>
</div>
<div id="scrolling_wrap">
    <div class="loading">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>

    <div id="inner-wrap">
        <% include seedoctorList.ejs %>
        <% include extractReportList.ejs %>
        <% include prescribingList.ejs %>
        <% include operationList.ejs %>
    </div>

    <div class="nodata" style="display: none;"><p>暂无内容</p></div>
</div>
<script>
    var url = '<%=global.cf.root%>';
</script>
<script src="<%=_src('/js/healthRecords/healthRecords.min.js')%>"></script>
</body>
</html>

