<!DOCTYPE HTMl>
<html>
<head>
<title>住院史详情</title>
<% include ../commontags/metatags %>
<link rel="stylesheet" href="<%=_src('/css/healthRecords/healthRecords.min.css')%>">
</head>
<body>
<%if(data){%>
<ul class="drug_list operation_list clearfix">
	<li>
        <div class="p_line line-border">
            <label>住院时间：</label>
            <p><%=data.hospitalized_time%></p>
        </div>
        <div class="p_line line-border">
            <label>医　　院：</label>
            <p><%=query.hospital_name%></p>
        </div>
        <div class="p_line line-border">
            <label>科　　室：</label>
            <p><%=query.office_name%></p>
        </div>
        <div class="p_line line-border">
            <label>入院诊断：</label>
            <p><%=data.admissionDiagnosis?data.admissionDiagnosis:'无'%></p>
        </div>
        <div class="p_line line-border">
            <label>出院诊断：</label>
            <p><%=data.dischargeDiagnosis?data.dischargeDiagnosis:'无'%></p>
        </div>
        <div class="p_line line-border">
            <label>出院医嘱：</label>
            <p><%=data.dischargeOrder?data.dischargeOrder:'无'%></p>
        </div>
        <div class="p_line line-border">
            <label>治疗结果：</label>
            <p><%=data.treatmentOutcome?data.treatmentOutcome:'无'%></p>
        </div>
    </li>
</ul>
<%}else{%>
<div class="nodata" ><p>暂无内容</p></div>
<%}%>
</body>
</html>
