<!DOCTYPE HTMl>
<html>
<head>
<title>中医治未病</title>
<% include ../commontags/metatags %>
<link rel="stylesheet" href="<%=_src('/css/measurement/measurement.min.css')%>">
<script type="text/javascript" src="<%=_src('/js/measurement/question.min.js')%>"></script>
</head>
<body>
<div class="result_wrap">
    <span class="tc5">根据中医体质辨识测试题，您的体质类型为：</span>
    <% if(data.content){%>
        <p>气虚质结果：<%=data.result[data.content.qxzjg]%></p>
        <p>阳虚质结果：<%=data.result[data.content.yaxzjg]%></p>
        <p>阴虚质结果：<%=data.result[data.content.ynxzjg]%></p>
        <p>痰湿质结果：<%=data.result[data.content.tszjg]%></p>
        <p>湿热质结果：<%=data.result[data.content.srzjg]%></p>
        <p>血瘀质结果：<%=data.result[data.content.xyzjg]%></p>
        <p>气郁质结果：<%=data.result[data.content.qyzjg]%></p>
        <p>特禀质结果：<%=data.result[data.content.tbzjg]%></p>
        <p>平和质结果：<%=data.result[data.content.phzjg]%></p>
    <% } else {%>
        <div class="nodata"><p>暂无内容</p></div>
    <%}%>
</div>
</body>
</html>
