<!DOCTYPE HTMl>
<html>
<head>
<title>报告详情</title>
<% include ../commontags/metatags %>
<link rel="stylesheet" href="<%=_src('/css/familyDoctor/teamDetail.min.css')%>">
</head>
<body>
  <div class="top">
    <div class="main"></div>
    <div class="wrap"></div>
    <div class="body">
      <img class="title_img" src="<%=_src('/images/familyDoctor/team_icon1.png')%>">
      <p class="title_topic">高朋大道家庭医生团队</p>
      <p class="title_content">高朋大道社区卫生服务中心高朋大道社区卫生服务中心高朋大道</p>
      <p><span class="count">1000</span>&nbsp;&nbsp;<span>已签约</span></p>
    </div>
  </div>
  <div class="center">
    <div>
      <p class="title" >地址</p>
      <p class="text">高朋大道社区卫生服务中心高朋大道社区卫生服务中心高朋大道社区卫生服务中心高朋大道社区卫生服务中心</p>
    </div>
    <hr>
    <div>
      <p class="title">擅长</p>
      <p class="text">内分泌与代谢疾病内分泌与代谢疾病内分泌与代谢疾病内分泌与代谢疾病内分泌与代谢疾病内分泌与代谢疾病内分泌与代谢疾病内分泌与代谢疾病内分泌与代谢疾病内分泌与代谢疾病内分泌与代谢疾病内分泌与代谢疾病内分泌与代谢疾病</p>
    </div>
  </div>
  <div class="center">
      <p class="title">在线诊疗服务</p>
      <hr>
      <div class="online_service padding service_row">
        <div class="online_service service_row">
          <div>
            <img class="pic_icon" src="<%=_src('/images/familyDoctor/pic_text_ask.png')%>">
          </div>
          <div>
            <p class="title_topic font_color">图文咨询</p>
            <p class="content_font_color">随时随地线上沟通</p>
          </div>
        </div>
        <div class="online_service">
          <div>
            <img class="pic_icon" src="<%=_src('/images/familyDoctor/tel_ask.png')%>">
          </div>
          <div>
            <p class="title_topic font_color">电话咨询</p>
            <p class="content_font_color">快速解决健康问题</p>
          </div>
        </div>
      </div>
  </div>
  <div class="center">
    <p class="title">家庭医生服务</p>
    <hr>
    <div class="online_service padding service_row">
      <div class="online_service service_row">
        <div>
          <img class="pic_icon" src="<%=_src('/images/familyDoctor/service.png')%>">
        </div>
        <div>
          <p class="title_topic font_color">服务包</p>
          <p class="content_font_color">免费提供多种服务</p>
        </div>
      </div>
      <div class="online_service">
        <div>
          <img class="pic_icon" src="<%=_src('/images/familyDoctor/change_mess.png')%>">
        </div>
        <div>
          <p class="title_topic font_color">转诊信息</p>
          <p class="content_font_color">转诊动态及时获知</p>
        </div>
      </div>
    </div>
  </div>
  <div class="center">
    <div class="online_service service_row">
      <div class="service_div">
        <p class="service_topic topic_font_color">【在线诊疗服务】</p>
        <p class="title_topic content_font_color">随时随地和您的家庭医生线上沟通解决健康问题</p>
      </div>
      <div>
        <img src="<%=_src('/images/familyDoctor/change_mess.png')%>">
      </div>
    </div>
    <hr>
    <div class="online_service service_row">
      <div class="service_div">
        <p class="service_topic topic_font_color">【家庭医生服务】</p>
        <p class="title_topic content_font_color">医生团队提供多种免费服务</p>
      </div>
      <div>
        <img src="<%=_src('/images/familyDoctor/change_mess.png')%>">
      </div>
    </div>
  </div>
  <div class="center">
    <p class="title">团队成员（4）</p>
    <hr>
    <div class="online_service padding team_row ">
      <div class="pic_bottom">
        <img class="pic_icon" src="<%=_src('/images/familyDoctor/team_icon1.png')%>">
      </div>
      <div class="online_service service_row div_width div_bottom">
        <div>
          <p><span class="team_name font_color">朱雨</span>&nbsp;&nbsp;<span class="title">副主任医师</span></p>
          <p class="content_font_color">四川大学华西第二医院  产科</p>
        </div>
        <div>
          <img class="sign_icon" src="<%=_src('/images/familyDoctor/leader.png')%>">
        </div>
      </div>
    </div>
    <div class="online_service padding team_row ">
      <div class="pic_bottom">
        <img class="pic_icon" src="<%=_src('/images/familyDoctor/team_icon1.png')%>">
      </div>
      <div class="online_service service_row div_width div_bottom">
        <div>
          <p><span class="team_name font_color">朱雨</span>&nbsp;&nbsp;<span class="title">副主任医师</span></p>
          <p class="content_font_color">四川大学华西第二医院  产科</p>
        </div>
      </div>
    </div>
    <div class="online_service padding team_row ">
      <div class="pic_bottom">
        <img class="pic_icon" src="<%=_src('/images/familyDoctor/team_icon1.png')%>">
      </div>
      <div class="online_service service_row div_width div_bottom">
        <div>
          <p><span class="team_name font_color">朱雨</span>&nbsp;&nbsp;<span class="title">副主任医师</span></p>
          <p class="content_font_color">四川大学华西第二医院  产科</p>
        </div>
      </div>
    </div>
    <div class="online_service padding team_row ">
      <div class="pic_bottom">
        <img class="pic_icon" src="<%=_src('/images/familyDoctor/team_icon1.png')%>">
      </div>
      <div class="online_service service_row div_width">
        <div>
          <p><span class="team_name font_color">朱雨</span>&nbsp;&nbsp;<span class="title">副主任医师</span></p>
          <p class="content_font_color">四川大学华西第二医院  产科</p>
        </div>
      </div>
    </div>
    <div class="footer_btn">
      <button class="btn_primary">签约</button>
    </div>
  </div>
</body>
</html>
