<!DOCTYPE HTMl>
<html>
<head>
    <% include ../commontags/metatags %>
    <title><%=title%>></title>
    <script src="<%=_src('/libs/js/jquery.fullPage.js')%>"></script>
    <script src="<%=_src('/libs/js/jquery.easing.1.3.js')%>"></script>
    <script src="<%=_src('/libs/js/core_plugin.js')%>"></script>
    <script src="<%=_src('/libs/js/custom_effect.js')%>"></script>
    <link rel="stylesheet" href="<%=_src('/libs/css/animate.min.css')%>">
    <link rel="stylesheet" href="<%=_src('/libs/css/jquery.fullPage.css')%>">
    <link rel="stylesheet" type="text/css" href="<%=_src('/css/home/main.min.css')%>">
</head>
<body>

<div id="fullpage">
    <div class="section">
        <div class="slide slide1">
            <div class="conwrap">
                <div class="conbox">
                    <p><img src="<%=_src('/images/home/guide1.png')%>" class="pic pic1-1 animated bounceInDown"></p>
                </div>
                <div class="txt-container">
                    <p id="effect1" class="l-txt">在线支付&nbsp;&nbsp;不用排队</p>
                    <p id="effect1s" class="s-txt">让支付更快捷</p>
                </div>
            </div>
        </div>
        <div class="slide slide2">
            <div class="conwrap">
                <div class="conbox">
                    <p><img src="<%=_src('/images/home/guide2.png')%>" class="pic pic2-1 animated bounceInDown"></p>
                </div>
                <div class="txt-container">
                    <p id="effect2" class="l-txt">预约挂号&nbsp;&nbsp;线上搞定</p>
                    <p id="effect2s" class="s-txt">让就医更方便</p>
                </div>
            </div>
        </div>
        <div class="slide slide3">
            <div class="conwrap">
                <div class="conbox">
                    <p><img src="<%=_src('/images/home/guide3.png')%>" class="pic pic3-1 animated bounceInDown"></p>
                </div>
                <div class="txt-container">
                    <p id="effect3" class="l-txt">热门资讯&nbsp;&nbsp;生活帮手</p>
                    <p id="effect3s" class="s-txt">让资讯更可靠</p>
                </div>
            </div>
        </div>
        <div class="slide slide4">
        <div class="conwrap">
            <div class="conbox">
                <p><img src="<%=_src('/images/home/guide4.png')%>" class="pic pic4-1 animated bounceInDown"></p>
            </div>
            <div class="txt-container">
                <p id="effect4" class="l-txt">服务四川&nbsp;&nbsp;健康无忧</p>
                <p id="effect4s" class="s-txt">让生活更健康</p>
            </div>
            <p class="btm animated bounceInUp"><a href="/" class="btn-goindex">进入首页</a></p>
            </div>

        </div>
    </div>
</div>
<script>
$(function(){
    $('#fullpage').fullpage({
        sectionsColor:['#fff'],
        resize:true,
        css3: true,
        slidesNavigation:true,
        verticalCentered:false,
        loopHorizontal:false
    })
})

</script>


</body></html>
